# Azure Speech-to-Text
AZURE_SPEECH_KEY=여기에_Speech_Key를_입력하세요
AZURE_SPEECH_REGION=koreacentral
AZURE_SPEECH_LANGUAGE=ko-KR

# Azure Translator
AZURE_TRANSLATOR_KEY=여기에_Translator_Key를_입력하세요
AZURE_TRANSLATOR_REGION=koreacentral
AZURE_TRANSLATOR_ENDPOINT=https://api.cognitive.microsofttranslator.com
