# Azure Speech-to-Text
# 예: AZURE_SPEECH_REGION=koreacentral
AZURE_SPEECH_KEY=
AZURE_SPEECH_REGION=
AZURE_SPEECH_LANGUAGE=ko-KR

# Azure Translator
# 예: AZURE_TRANSLATOR_REGION=koreacentral
AZURE_TRANSLATOR_KEY=
AZURE_TRANSLATOR_REGION=
AZURE_TRANSLATOR_ENDPOINT=https://api.cognitive.microsofttranslator.com
